{% extends 'base.html' %}

{% block content %}
<!-- Content Header (Page header) -->

<section class="content-header">
  <h1>
    Database
  </h1>
  <ol class="breadcrumb">
    <li><a href="{% url "home" %}"><i class="fa fa-dashboard"></i> Home</a></li>
    <li class="active">Aplication</li>
  </ol>
</section>

<section class="content">
  <div class="row" ng-controller="GetAppsController as gas">

        <div class="col-xs-12">
          <div class="box">
            <div class="box-header">
              <h3 class="box-title">All Application</h3>
            </div>
            <!-- /.box-header -->
            <div class="box-body">
              <table id="example2" class="table table-bordered table-hover table-striped ">
                <thead>
                <tr>
                  <th>Name</th>
                  <th>Github url</th>
                  <th>Min</th>
                  <th>Max</th>
                  <th>Status</th>
                  <th>Instances</th>
                  <th>Autoscaling</th>
                  <th>Start/Stop</th>
                  <th>Delete</th>
                </tr>
                </thead>
                <tbody>
                  {% verbatim %}
                  <tr ng-repeat="app in gas.apps">
                    <td>{{app.name}}</td>
                    <td>{{app.github_url}}</td>
                    <td>{{app.min_instances}}</td>
                    <td>{{app.max_instances}}</td>
                    <td>{{app.status}}</td>
                    <td>{{app.instances}}</td>
                    <td ng-show="app.autoscaling==1"><i class="fa fa-check btn btn-info" ng-click="gas.toggleAutoscaling(app.name)"></i></td>
                    <td ng-show="app.autoscaling==0"><i class="fa fa-ban btn btn-info" ng-click="gas.toggleAutoscaling(app.name)"></i></td>
                    <td><i ng-click="startApp(app)" class="fa fa-play btn btn-default"></i></td>
                    <td><i ng-click="deleteApp(app)" class="fa fa-times btn btn-danger"></i></td>
                  </tr>
                {% endverbatim %}
                </tbody>

              </table>
            </div>
            <!-- /.box-body -->
          </div>
          <!-- /.box -->
          <!-- /.box -->
        </div>
        <!-- /.col -->


  </div>
</section>
{% endblock content%}
