{% extends 'base.html' %}

{% block content %}
<!-- Content Header (Page header) -->

<section class="content-header">
  <h1>
    Database
  </h1>
  <ol class="breadcrumb">
    <li><a href="{% url "home" %}"><i class="fa fa-dashboard"></i> Home</a></li>
    <li class="active">Databases</li>
  </ol>
</section>

<section class="content">
  <div class="row" ng-controller="GetDatabasesController as gds">

        <div class="col-xs-12">
          <div class="box">
            <div class="box-header">
              <h3 class="box-title" >All Database</h3>
              <div class="pull-right" ng-controller="ModalController as mc">

                    <button ng-click="mc.toggleModal()" class="btn btn-primary">New Database</button>

                    <modal title="Database infomation" visible="mc.showModal">
                      <form role="form" ng-submit="gds.addDatabase()">
                        <div class="form-group">
                          <label for="root_password">Password for user root</label>
                          <input type="text" ng-model="gds.root_password" class="form-control" id="root_password" placeholder="Enter root password" />
                        </div>
                        <button type="submit" class="btn btn-success" ng-click="mc.showModal=false">Submit</button>
                        <a class="btn btn-danger" ng-click="mc.showModal=false">Cancel</a>
                      </form>
                    </modal>


                <a type="button" href="https://www.google.com/?gws_rd=ssl" target="_blank" class="btn btn-warning">PHPMyadmin</a>
              </div>
            </div>
            <!-- /.box-header -->
            <div class="box-body">
              <table id="example2" class="table table-bordered table-hover table-striped ">
                <thead>
                <tr>
                  <th>ID</th>
                  <th class="col-sm-4">Host</th>
                  <th>Port</th>
                  <th class="col-sm-3">Root password</th>
                  <th class="col-sm-2">Change password</th>
                  <th>Delete</th>
                </tr>
                </thead>
                <tbody>
                  {% verbatim %}
                <tr ng-repeat="database in gds.databases">
                  <td>{{database.id}}</td>
                  <td>{{database.host}}</td>
                  <td>{{database.port}}</td>
                  <td><div class="input-group" ng-init="database.pass='******'">
                        <input ng-disabled="true" type="text" value="{{database.pass}}" id="password" class="form-control input-sm">
                        <div ng-mousedown="database.pass=database.root_password" ng-mouseup="database.pass='******'" ng-mouseleave="database.pass='******'" class="input-group-addon btn-eye"><i class="fa fa-eye"></i></div>
                      </div>
                  </td>

                  <td class="container">
                      <button ng-click="gds.showModal[database.id] = !gds.showModal[database.id]" class="btn btn-success">
                        <i class="fa fa-key"></i>
                      </button>

                      <modal title="Change password"  visible="gds.showModal[database.id]">
                        <form role="form" ng-submit="gds.updatePassword(database)">
                          <div class="form-group">
                            <label for="new_password">New password</label>
                            <input type="text" class="form-control" id="new_password" ng-model="gds.new_password[database.id]" placeholder="Enter new password" />
                          </div>
                          <button type="submit" ng-click="gds.showModal[database.id] = false" class="btn btn-success">Submit</button>
                          <button ng-click="gds.showModal[database.id] = false" class="btn btn-danger">Cancel</button>
                        </form>
                      </modal>
                  </td>

                  <td><i ng-click="gds.deleteDatabase(database.id)" class="fa fa-times btn btn-danger"></i></td>
                </tr>
                {% endverbatim %}
                </tbody>

              </table>
            </div>
            <!-- /.box-body -->
          </div>
          <!-- /.box -->
          <!-- /.box -->
        </div>
        <!-- /.col -->


  </div>
</section>
{% endblock content%}
