{% extends 'base.html' %}
{% load staticfiles %}
{% block content %}
<!-- Content Header (Page header) -->

<section class="content-header">
  <h1>
    Application
  </h1>
  <ol class="breadcrumb">
    <li><a href="{% url "home"%}"><i class="fa fa-dashboard"></i> Home</a></li>
    <li><a href="{% url "static_view" "all-apps"%}"> App</a></li>
    <li class="active">Edit</li>
  </ol>
</section>

<section class="content" ng-controller="GetAppController as ga">
  <div class="row">
    <div class="col-md-12">
    <div class="box box-primary collapsed-box">
        <div class="box-header with-border">
          <h3 class="box-title">Application infomations</h3>
          <div class="box-tools pull-right">
            <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>
            </button>
            <button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
          </div>
        </div>
        <!-- /.box-header -->
        <!-- form start -->
        <form role="form" name="form" novalidate ng-submit="ga.updateApp()">
          <div class="box-body">
            <div class="form-group col-md-12">
              <label for="app_name">App name (ID)</label>
              <input type="text" required class="form-control" id="app_name" ng-model="ga.app.name" >
            </div>
            <div class="form-group col-md-12">
              <label for="github_url">Github url</label>
              <input type="text" required class="form-control" id="github_url" ng-model="ga.app.github_url" placeholder="Github url of application">
            </div>
            <div class="form-group col-md-6">
              <label for="min_instances">Min instances</label>
              <input type="number" required class="form-control" id="min_instances" ng-model="ga.app.min_instances" placeholder="Min instances">
            </div>
            <div class="form-group col-md-6">
              <label for="max_instances">Max instances</label>
              <input type="number" required  class="form-control" id="max_instances" ng-model="ga.app.max_instances" placeholder="Max instances">
            </div>
            <div class="form-group col-md-6">
              <label for="host">IP</label>
              <input type="text" required  class="form-control" id="host" ng-model="ga.app.env_hostname" >
            </div>
            <div class="form-group col-md-6">
              <label for="port">PORT</label>
              <input type="text" required  class="form-control" id="port" ng-model="ga.app.env_port" >
            </div>

            <hr />
            <div class="form-group col-md-4">
              <label for="env_db_hostname">ENVIRONMENT DATABASE HOSTNAME</label>
              <input type="text" class="form-control" id="env_db_hostname" ng-model="ga.app.env_db_hostname" placeholder="">
            </div>
            <div class="form-group col-md-4">
              <label for="env_db_port">ENVIRONMENT DATABASE PORT</label>
              <input type="text" class="form-control" id="env_db_port" ng-model="ga.app.env_db_port" placeholder="">
            </div>
            <div class="form-group col-md-4">
              <label for="env_db_name">ENVIRONMENT DATABASE NAME</label>
              <input type="text" class="form-control" id="env_db_name" ng-model="ga.app.env_db_name" placeholder="">
            </div>
            <div class="form-group col-md-4">
              <label for="env_db_username">ENVIRONMENT DATABASE USERNAME</label>
              <input type="text" class="form-control" id="env_db_username" ng-model="ga.app.env_db_username" placeholder="">
            </div>
            <div class="form-group col-md-4">
              <label for="env_db_password">ENVIRONMENT DATABASE PASSWORD</label>
              <input type="text" class="form-control" id="env_db_password" ng-model="ga.app.env_db_password" placeholder="">
            </div>


          </div>
          <!-- /.box-body -->

          <div class="box-footer">
            <button class="submit btn btn-primary" type="submit" ng-disabled="form.$invalid" >Update</button>
          </div>
        </form>
      </div>

    </div>
  </div>
  <div class="row">
    <div class="col-md-12">

      <div class="box">
        <div class="box-header with-border">
          <h3 class="box-title">Rule for autoscaling</h3>

          <div class="box-tools pull-right">
            <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>
            </button>
            <button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
          </div>
        </div>
        <!-- /.box-header -->
        <div class="box-body" ng-controller="ModalController as mc">

            <table class="table table-bordered table-hover table-striped ">
              <thead>
              <tr>
                <th>ID</th>
                <th>Metric</th>
                <th>Upper threshold</th>
                <th>Lower threshold</th>
                <th>Instances out</th>
                <th>Instances in</th>
                <th>Scale up wait</th>
                <th>Scale down wait</th>
                <th>Disabled</th>
                <th>Edit</th>
                <th>Delete</th>
              </tr>
              </thead>
              <tbody>
                {% verbatim %}
                <tr ng-repeat="policy in ga.policies">
                  <td>{{policy.id}}</td>
                  <td>{{policy.metric_type}}</td>
                  <td>{{policy.upper_threshold}}</td>
                  <td>{{policy.lower_threshold}}</td>
                  <td>{{policy.instances_out}}</td>
                  <td>{{policy.instances_in}}</td>
                  <td>{{policy.scale_up_wait}}</td>
                  <td>{{policy.scale_down_wait}}</td>
                  <td ng-show="policy.disabled==1"><i class="fa fa-check btn btn-primary" ng-click="ga.disabledPolicy(policy.id, 0)"></i></td>
                  <td ng-show="policy.disabled==0"><i class="fa fa-ban btn btn-primary" ng-click="ga.disabledPolicy(policy.id, 1)"></i></td>
                  <td><button class="btn btn-info btn-sm" ng-click="mc.showModal('md-'+policy.id)"><i class="fa fa-pencil "></i></button>
                      <modal id="md-{{policy.id}}" title="Edit policy">
                        <form role="form">
                          <div class="row">
                            <div class="form-group col-md-4">
                              <h5>Metric</h5>
                              <select ng-model="policy.metric_type" class="form-control">
                                <option value="">---Metric type---</option>
                                <option selected value="cpu">Cpu</option>
                                <option value="mem">Mem</option>
                              </select>
                            </div>
                          </div>


                          <div class="form-group">
                            <h5 >Target</h5>
                            <div class="row">
                              <div class="col-md-4">
                                <input ng-model="policy.lower_threshold" type="number" class="form-control col-md-4" value="" placeholder="Lower thershold">
                              </div>
                              <div class="col-md-4">
                                  <input ng-model="policy.upper_threshold" type="number" class="form-control col-md-4" value="" placeholder="Upper thershold">
                              </div>
                            </div>
                          </div>

                          <div class="form-group">
                            <h5 >Instances</h5>
                            <div class="row">
                              <div class="col-md-4">
                                <input ng-model="policy.instances_out" type="number" class="form-control col-md-4" value="" placeholder="Instances out">
                              </div>
                              <div class="col-md-4">
                                  <input ng-model="policy.instances_in" type="number" class="form-control col-md-4" value="" placeholder="Instances in">
                              </div>
                            </div>
                          </div>

                          <div class="form-group">
                            <h5 >Time wait (second)</h5>
                            <div class="row">
                              <div class="col-md-4">
                                <input ng-model="policy.scale_down_wait" type="number" class="form-control col-md-4" value="" placeholder="Scale down wait">
                              </div>
                              <div class="col-md-4">
                                  <input ng-model="policy.scale_up_wait" type="number" class="form-control col-md-4" value="" placeholder="Scale up wait">
                              </div>
                            </div>
                          </div>


                            <button type="submit" class="btn btn-success" data-dismiss="modal" ng-click="ga.updatePolicy(policy)">Submit</button>

                        </form>
                      </modal>
                  </td>
                  <td><button ng-click="ga.deletePolicy(policy.id)" class="btn btn-danger btn-sm"><i class="fa fa-times"></i></button></td>
                </tr>
              </tbody>
            </table>
            <hr >
            <button ng-click="mc.showModal('add-policy')" class="col-md-1 btn btn-sm btn-primary" >Add Policy</button>

            <modal id="add-policy" title="Policy">
              <form role="form">
                <div class="row">
                  <div class="form-group col-md-4">
                    <h5>Metric</h5>
                    <select ng-model="np.metric_type" class="form-control">
                      <option value="">---Metric type---</option>
                      <option selected value="cpu">Cpu</option>
                      <option value="mem">Mem</option>
                    </select>
                  </div>
                </div>


                <div class="form-group">
                  <h5 >Target</h5>
                  <div class="row">
                    <div class="col-md-4">
                      <input ng-model="np.lower_threshold" type="number" class="form-control col-md-4" value="" placeholder="Lower thershold">
                    </div>
                    <div class="col-md-4">
                        <input ng-model="np.upper_threshold" type="number" class="form-control col-md-4" value="" placeholder="Upper thershold">
                    </div>
                  </div>
                </div>

                <div class="form-group">
                  <h5 >Instances</h5>
                  <div class="row">
                    <div class="col-md-4">
                      <input ng-model="np.instances_out" type="number" class="form-control col-md-4" value="" placeholder="Instances out">
                    </div>
                    <div class="col-md-4">
                        <input ng-model="np.instances_in" type="number" class="form-control col-md-4" value="" placeholder="Instances in">
                    </div>
                  </div>
                </div>

                <div class="form-group">
                  <h5 >Time wait (second)</h5>
                  <div class="row">
                    <div class="col-md-4">
                      <input ng-model="np.scale_down_wait" type="number" class="form-control col-md-4" value="" placeholder="Scale down wait">
                    </div>
                    <div class="col-md-4">
                        <input ng-model="np.scale_up_wait" type="number" class="form-control col-md-4" value="" placeholder="Scale in wait">
                    </div>
                  </div>
                </div>


                <button type="submit" class="btn btn-success" data-dismiss="modal" ng-click="ga.addPolicy(np)">Submit</button>

              </form>
            </modal>


          {% endverbatim %}
        </div>
        <!-- ./box-body -->
      </div>

    </div>
  </div>
</section>

{% endblock content%}
