{% load staticfiles %}
<!DOCTYPE html >
<html ng-app="BasicHttpAuth">
<!--[if lt IE 7]> <html class="lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if IE 7]> <html class="lt-ie9 lt-ie8" lang="en"> <![endif]-->
<!--[if IE 8]> <html class="lt-ie9" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html lang="en"> <!--<![endif]-->
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <title>Registration | Autoscaling</title>
  <link rel="stylesheet" href="{% static "assets/css/login-style.css" %}">
  <!--[if lt IE 9]><script src="//html5shim.googlecode.com/svn/trunk/html5.js"></script><![endif]-->

  <!-- angularjs lib -->
  <script src="http://code.jquery.com/jquery-2.2.2.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.0/angular.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.0/angular-route.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.0/angular-cookies.js"></script>

  <link rel='stylesheet' href='{% static "assets/css/angular-loading-bar.css" %}' type='text/css' media='all' />
  <script type='text/javascript' src='//cdnjs.cloudflare.com/ajax/libs/angular-loading-bar/0.9.0/loading-bar.min.js'></script>

  <script src="{% static "app/app.modules.js" %}"></script>

  <!-- angular services -->
  <script src="{% static "app/services/authentication.js" %}"></script>

  <!-- angular controllers -->
  <script src="{% static "app/controllers/registration.js" %}"></script>


</head>
<body>
  {% verbatim %}
  <section class="container" ng-controller='RegistrationController'>
    <div class="login">
      <h1>Registration</h1>
      <div ng-show="error" class="alert alert-danger">{{error}}</div>
      <form class="form" name="form" novalidate ng-submit="register()">

        <span ng-show="form.username.$dirty && form.username.$error.required">Username is required</span>
        <p><input type="text" name="username" ng-model="username" required placeholder="Username"></p>

        <span ng-show="form.password.$dirty && form.password.$error.required">Password is required</span>
        <p><input type="password" name="password" ng-model="password" required placeholder="Password"></p>

        <span ng-show="form.email.$dirty && form.email.$error.required">Email is required</span>
        <span ng-show="form.email.$dirty && form.email.$error.email">Email is invalid</span>
        <p><input type="email" name="email" ng-model="email" required placeholder="Email"></p>

        <span ng-show="form.first_name.$dirty && form.first_name.$error.required">First name is required</span>
        <p><input type="text" name="first_name" ng-model="first_name" required placeholder="First Name"></p>

        <span ng-show="form.last_name.$dirty && form.last_name.$error.required">Last name is required</span>
        <p><input type="text" name="last_name" ng-model="last_name" required placeholder="Last Name"></p>


        <p class="wrap-btn"><button class="submit" type="submit" ng-disabled="form.$invalid || dataLoading" class="btn btn-danger">Register</button>
            {% endverbatim %}
      <img ng-if="dataLoading" src="{% static "assets/img/loading.gif"%}"/></p>
      </form>
    </div>

    <!-- <div class="login-help">
      <p>Forgot your password? <a href="index.html">Click here to reset it</a>.</p>
    </div> -->
  </section>

</body>
</html>
